{{ define "main" }}
  
<header class="post-header">
  <h1 class="post-title">{{ .Title }}</h1>
  <p class="post-meta">{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · {{ .Date.Format "Jan 2, 2006" }}</p>
</header>

  <article class="post-content">{{ .Content }}</article>

 <div class="alert alert-dark">
  Hullo! My name’s Hinny Wass and I’m a Forrest Yoga teacher. This blog is designed to be a complementary resource alongside the classes I teach in Oxford, exploring ideas connected to yoga both on and off the mat.
</div>
  
{{ end }}
