{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $class := (.Get 1) }}
{{ if $original }}
{{ .Scratch.Set "image" ($original.Fit "600x400") }}
{{ $image := .Scratch.Get "image" }}
<div class="float-md-start">
    <figure class="{{$class}}" style="padding: 1em">
        <img class="figure-img img-fluid rounded" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        <figcaption class="figure-caption" style="width: {{$image.Width }}px">
            <small>
                {{ with .Inner }}
                {{ . }}
                {{ end }}
            </small>
        </figcaption>
    </figure>
</div>

{{ else }}
<pre>NOT FOUND: {{ (.Get 0) }} IN {{.Page.Resources}}</pre>
{{ end }}

