{{- $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
{{- $pages := . -}}
{{- $pages_by_letters := dict -}}
{{ range $pages }}
  {{- $page := . -}}
  {{- $first_letter := upper ( substr (or $page.LinkTitle $page.Name) 0 1 ) -}}
  {{- if not (in $letters $first_letter) }}
    {{ $first_letter = "#" }}
  {{ end }}
  {{- $new_list := slice -}}
  {{ with index $pages_by_letters $first_letter }}
    {{- $new_list = . | append $page -}}
  {{ else }}
    {{- $new_list = slice $page -}}
  {{ end }}
  {{- $pages_by_letters = merge $pages_by_letters (dict $first_letter $new_list) -}}
{{ end }}

<section class="section-pages-tag">
{{ range $key, $items := $pages_by_letters }}
  <span class="key">{{ $key }}</span>
  <ul>
  {{- range $items -}}
    <li>
    <a href="{{ .RelPermalink }}">{{ (or .LinkTitle .Name) }}</a> {{ if .Pages }} — {{ len .Pages }}{{ end }}
    </li>
  {{- end -}}
  </ul>
{{ end }}
</section>
