<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
      body {
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-top: 1em
      }

      ul {
        margin-left: 2em;
      }
   
      blockquote p {
        font-style: italic !important;
        padding-left: 2em;
      }

      h1 {
        font-weight: 500;
        margin-top: 3em;
        /* font-weight: 'extra-bold'; */
      }

      nav#TableOfContents ul {
        list-style-type: none;
      margin-left: 0em !important;
      }

    </style>
  
  </head>
  <body>
    <div class="container">
      <!-- <div class="row">        
        <div class="col-6 col-sm-6 col-lg-2">
          <p style="text-align: center; font-style: italic;">
            <a href="/">
              <img src="/images/logo.svg" alt="Hinny Wass" class="img-fluid"/>
            </a>
           </p>
        </div>
      </div> -->

      <div class="row">        
        <div class="col-12 col-sm-12 col-lg-3">
          <img src="/images/logo.svg" alt="Hinny Wass" class="img-fluid"/>
          {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </div>
        <div class="col-12 col-sm-12 col-lg-9">  
          <nav aria-label="breadcrumb" class="">
            <!-- <ol class="breadcrumb">

              {{ range .Ancestors.Reverse }}
              <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
              {{ end }}
              
              <a class="breadcrumb-item active" aria-current="page" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            </ol> -->
          </nav>
          {{ block "main" . }}
          {{ end }}
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <br>
          <div class="card">
            <div class="card-body">
              {{ block "footer" . }}
              {{ end }}    
            </div>
          </div>

        </div>
      </div>
    </div>


    

  </body>
</html>