{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-9">
      <h2>{{ .Title }}</h2>

     
    {{ .Content }}
    </div>

    <div class="col-sm-12 col-lg-3 see-also">
    {{ if .Pages }}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <ul>
            {{ range .Pages }}
              <li>
                <a href="{{ .Permalink }}">{{ or .LinkTitle .Title }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>      
    {{ end }}
    {{ block "see-also" . }}{{end}}
    </div>
  </div>
  </div>
{{ end }}
