{{ define "main" }}
<div class="container">
    <div class="row">
    
      <div class="col-sm-12 col-lg-9">
      <h2>{{ .Title }}</h2>

      {{ .Content }}
    </div>

    <div class="col-sm-12 col-lg-3 see-also">
      
      TODO
        </div>
    </div>
    </div>
</div>

{{ end }}